body {
    background-image: url('../images/background.jpeg');
}

.navbar {
    background-color: #0077b6;
}

.nav-link, .navbar-brand{
    color: white;
}

.navbar-nav ml-auto {
    margin-left: auto;
}

#book-list {
    background-color: white;
    margin-top: 3rem;
    border-radius: 1rem;
    color: black;
    padding: 0px;
}

#book-item {
    border-bottom: 1px groove #48cae4;
    margin-top: 10px;
}

#book-image {
    float: left;
    border: 1px solid rgb(0, 0, 0);
    margin-right: 15px;
    margin-top: 25px;
}

.book-info {
    font-size: 25px;
    height: 375px;
    position: relative;
    top: 65px;
}

#content {
    margin-top: 40px;
    border: 100px solid #48cae4;
    text-align: center;
    background-color: #48cae4;
    color: white;
    
}

h1 {
    font-size: 90px;
    font-family: "Great Vibes";
    margin-bottom: 20px;
}

h2 {
    margin: 25px;
}


#destaque{
    font-family: "Great Vibes";
}



